asgiref==3.7.2
backports.zoneinfo==0.2.1
bitarray==2.8.1
cffi==1.15.1
charset-normalizer==3.2.0
cryptography==41.0.3
Django==4.2.4
pdfminer.six==20221105
pdfplumber==0.10.2
Pillow==10.0.0
pycparser==2.21
pycryptodome==3.18.0
pypdfium2==4.19.0
python-dateutil==2.8.2
six==1.16.0
sqlparse==0.4.4
typing-extensions==4.7.1
